.hero {
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 100px; 
}
*{
  margin: 0;
  padding: 0;
}
.about-section {
  width: 100%;
  color: #222;
  font-family: Arial, sans-serif;
}

.about-container:first-of-type {
 background-attachment: fixed;
  padding: 60px 50px;
  color: white;
  text-align: center;
}

.about-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
}

.about-tagline {
  font-size: 25px;
  opacity: 0.9;
  margin-bottom: 100px;
  color: #000;
}

.about-content p {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #000;
  max-width: 800px;
  margin-left: 180px;
}

.about-highlights {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0;
}

.highlight-card {
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.3s;
}

.highlight-card:hover {
  background: rgba(0,0,0,0.7);
  transform: translateY(-5px);
}

.about-container:nth-of-type(2) {
  background: url("https://images.pexels.com/photos/906494/pexels-photo-906494.jpeg?cs=srgb&dl=pexels-chanaka-906494.jpg&fm=jpg") center/cover no-repeat;
  background-attachment: fixed;
  padding: 60px 50px;
  display: flex;
  gap: 60px;
}

.about-menu {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.about-menu p {
  background: rgba(255,255,255,0.8);
  padding: 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.about-menu p:hover {
  background: rgba(255,255,255,1);
}

.about-menu p.active {
  background: #000;
  color: #fff;
  border-left: 5px solid #ffd700;
}

.about-description {
  width: 70%;
  background: rgba(255,255,255,0.85);
  padding: 30px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.6;
  backdrop-filter: blur(5px);
}

.about-description h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
}


.directors {
  padding: 60px;
  background: #f7f7f7;
}

.director-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.director-cards-wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;             
  scroll-behavior: smooth;      
  padding-bottom: 15px;
  white-space: nowrap;           
}

.director-cards-wrapper::-webkit-scrollbar {
  display: none;
}
.director-cards-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.director {
  background: #ffffff;
  min-width: 400px;             
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.director:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 18px rgba(0,0,0,0.2);
  background: #000;
  color: #fff;
  border-left: 5px solid #ffd700;
}


@media (max-width: 900px) {
  .about-container:nth-of-type(2) {
    flex-direction: column;
  }
  .about-menu, .about-description {
    width: 100%;
  }
  .about-highlights {
    flex-direction: column;
  }
}
