.footer-container {
  background:black;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

.footer-left {
  text-align: left;
}

.footer-logo {
  width:50%;
  height: auto;
  object-fit: cover;
}

.footer-name {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 30px;
}

.footer-socials {
  margin-top: 12px;
  display: flex;
  gap: 20px;
  justify-content: left;
  margin-left: 70px;
}

.footer-socials a {
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #888;
}

.footer-right h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.address
{
    font-weight: bolder;
    font-size: 20px;
}

.footer-right  {
  margin: 10px 0;
  margin-right: 70px;
  font-size: 15px;
  text-align: left;
}

.footer-copyrights
{
    margin-left: 400px;
    text-align: center;
}