.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 80px; 
}
.home {
  font-family: "Poppins", sans-serif;
  color: #222;
}

.hero {
  height: 90vh;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8%;
}

.hero h1 {
  font-size: 48px;
  max-width: 800px;
}

.hero p {
  font-size: 18px;
  max-width: 650px;
  margin: 20px 0;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn.primary {
  background: #ff9800;
  color: #000;
}

.btn.secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  padding: 60px 8%;
  background: #f4f6f8;
}

.stat-box h2 {
  font-size: 40px;
  color: #0d2a4a;
}

.services {
  padding: 80px 5%;
  background: #f2f4f7;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
  color: #ff9800 !important;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 80px !important;
  margin-left: 50px;
}

.service-card {
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 14px;
  text-align: left;
  transition: all 0.35s ease;
  cursor: pointer;
}

.service-card h3 {
  font-size: 22px;
  margin-bottom: 15px; 
  font-weight: 600;
}

.service-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

.service-card:hover {
  background: #000000;
  box-shadow: 0 12px 30px rgba(255, 152, 0, 0.6);
  transform: translateY(-6px);
}

.service-card:hover h3,
.service-card:hover p {
  color: #ffffff;
}


.why {
  padding: 80px 8%;
  background: #0d2a4a;
  color: white;
}

.why ul {
  max-width: 700px;
  margin: auto;
  line-height: 2;
}

.specialization {
  padding: 80px 8%;
}

.spec-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  text-align: center;
}

.spec-grid div {
  background: #ff9800;
  padding: 20px;
  border-radius: 12px;
  font-weight: 600;
  overflow-x: auto;
  cursor: pointer;
}

.cta {
  background: linear-gradient(135deg, #0d2a4a, #163e6f);
  color: white;
  text-align: center;
  padding: 80px 8%;
}

.cta p {
  margin: 15px 0 30px;
}
