.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cta-button {
  background-color: #1a1a1a;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.cta-button:hover {
  background: #f5a802;
}


.starter{
  background:linear-gradient(
    rgba(0,0,0,0.4),
  rgba(0,0,0,0.4)
  );
  color:#fff;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 600;
  padding: 80px 50px;
  max-height: 575px;
}

.starter-container
{
  border-radius: 10px;
  transition: 0.1s;
   background:linear-gradient(
    rgba(0,0,0,0.4),
  rgba(0,0,0,0.4)
  );
  box-shadow: #f5a802;
  max-width:800px;
  padding: 10px;
  min-height: 300px;
}

.starter-container:hover
{
  transform: translateY(-10px);
}

.starter h1
{
    font-weight: 1000;
    line-height: 1.5;
    margin: 80px;
}

.starter p{
    margin: 80px;
}
.industries-container{
  display: flex;
  width: 100%;
  background: #f5f5f5;
  min-height: 500px;
}

.industries-left{
  width: 30%;
  background: #1a1a1a;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.industries-left button{
  padding: 15px;
  text-align: left;
  background: #333;
  border: none;
  color: #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.95rem;
}

.industries-left button:hover{
  background: #444;
  color: #fff;
}

.industries-left .active{
  background: #e63946;
  color: #fff;
}

.industries-right{
  max-width:fit-content;
  padding: 50px 100px;
  backdrop-filter: brightness(0.6);
  color: black;
  background: linear-gradient(
    rgba(0,0,0,0.4),
  rgba(0,0,0,0.4)
  );
}

.industries-right h2{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
  max-width: fit-content;
   background: #dddddd88;
}

.industries-right p{
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 85%;
  line-height: 1.8rem;
  background: #dddddd88;
}
.Closure-title{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #111;
  background: #f5a802;
}

.closure-features{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.feature-card{
  background: #f9f9f9;
  width: 230px;
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  font-size: 1rem;
  transition: 0.5s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  cursor: pointer;
}

.feature-card:hover{
  transform: translateY(-10px);
  background: #e63946;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.feature-card h3{
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.closure
{
    background: #f5a802;
    padding: 60px;

}